*{
    margin: 0%;
    padding: 0%;

}
body{
    background-color: #507089;
}
nav{
    height: 100%;
    width: 100%;
    background-color: #487ca4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
#khan{
    height: 80px;
    width: 120px;
}
.input{
    display: flex;
}
input{
    width: 450px;
    height: 40px;

}
#search{
    background-color: #d7db9d;
    color: #fff;
    padding: 9px;
    margin-left: -32px;

}
.cart{
    display: flex;
    padding: 0px 90px;
    width: 30px;
    height: 30px;

}
.cart i{
 padding: 10px 50px 0px 0px;
   
}
.home{
    display: grid;
    grid-template-columns: 20% 75%;
    margin: 30px 0;
    justify-content: space-evenly;
    
}
.category{
    
    border: 1px solid #fff;
    background-color: #fff;
    padding: 15px;
}
.category h2{
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 20px;
    background-color: #6161d6;
    color: #fff;
    text-transform: capitalize;

}
.category li{
    list-style-type: none;
    padding: 8px 0;
    padding-left: 20px;
    

}
.category li a{
    text-decoration: none;
    color: #000;

}
.laptop{
    background-image:linear-gradient(rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.438)), url(/images/bgi1.avif);
    color: #fff;
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;


}
.laptop h2{
    z-index: 2;
    color: #fff;
    text-align: center;
    font-size: 28px;
    text-transform: capitalize;
}
/*laptops section css*/
#heading{
    margin-top: 60px;
    margin-bottom: 10px;
    padding: 10px 20px;
}
.mobiles{
    display: grid;
    grid-template-columns: 14% 14% 14% 14% 14% 14% ;
    justify-content: space-around;
}
.mobiles div{
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #fafafa;
    border: 1px solid gainsboro;
    text-align: center;
    margin: 10px 0;
}
.mobiles div img{
    height: 150px;
    width: 150px;
    background-color: transparent;
    border-radius: 10px;
    margin: 10px;
}
.mobiles span p{
    padding: 3px;
    font-size: small;
}
.mobiles span p:first-child{
    font-weight: bold;
}
/*mobile section css*/
#mobile_heading{
    margin-top: 60px;
    margin-bottom: 10px;
    padding: 10px 20px;
}
.for_mobiles{
    display: grid;
    grid-template-columns: 22% 22% 22% 22% ;
    justify-content: space-around;
}
.for_mobiles div{
    background-color: #fafafa;
    border: 1px solid gainsboro;
    text-align: center;
    
}
.for_mobiles div img{
    height: 150px;
    width: 150px;
    background-color: transparent;
    border-radius: 5px;
    margin: 15px;

}
.notify{
     background-color:#00000078;
     color: #fff;
     width: 90px;
     height: 40px;
     padding:0;
     margin-top: 10px;
     box-shadow: rgb(0, 0, 0, 0.35) 0px 5px 10px;
     border-top-right-radius: 20px;
     border-bottom-right-radius: 20px;
}
.notify p{
    padding-top: 10px;
    font-size: bold;
    color: #000;
    
}
.for_mobiles h4{
    padding-top: 5px;
    padding-bottom: 15px;
}

/*watch section css*/
#watch_heading{
    margin-top: 80px;
    margin-left: 10px;
    padding: 10px 20px;
}
.for_watches{
    display: grid;
    grid-template-columns: 40% 40% ;
    justify-content: space-around;

}
.for_watches div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #91b5d3;
    width: 400px;
    height: 200px;
    margin-bottom: 20px;
    padding: 10px 50px;
    box-shadow: rgba(0, 0, 0, 0.43) 0px 5px 10px;
}
.for_watches div img{
    width: 200px;
    height: 190px;
}
.for_watches p{
    font-weight: bold;
    font-size: 18px;
    color:rgba(71, 71, 186, 0.804);
}

/* responsivenese for larege disktop */

@media(max-width:1000px){
    nav{
        height: 80px;
       

    }
    input{
        height: 30px;
        width: 250px;
        
    }
    #khan{
        height: 100px;
        width: 100px;
    }
    #search{
        margin-left: -22px;
        padding: 7px;
    }
    .cart{
        padding-right: 30px;
        padding-left: 30px;
        width: 20px;
        height: 20px;

    }
    .cart i{
        padding-left: 10px;
    }
    .laptop h2{
        font-size: 15px;

    }
    .laptop img{
        width: 60%;
    }
    #heading{
        margin-top: 80px;
        margin-bottom: 10px;
        padding:10px 20px;
    }
    .mobiles{
        grid-template-columns: 30% 30% 30%;
        justify-content:space-around;
    }
    .mobiles div{
        margin: 10px 0;
        height: 95%;
        border: 1px solid #fafafa;

    }
    .mobiles div img{
        height: 80%;
        width: 90%;
    }
    .mobiles span p{
        font-size:medium;
    }
    .for_mobiles{
        display: grid;
        grid-template-columns: 40% 40%;
        justify-content: space-around;
    }
    .for_mobiles div{
        margin-bottom: 10px;

    }
    .for_mobiles div img{
        height: 170px;
        width: 180px;
        border-radius: 5px;
        margin: 10px;
        margin-bottom: 5px;
        background-color: transparent;
    }
    .for_watches{
        display: grid;
        grid-template-columns:30% 30%;
        justify-content: space-around;
    }
    .for_watches div{
        display: grid;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 90%;
        padding: 10px 10px;
    }
    .for_watches div img{
        width: 100%;
        height: 190px;
    }
    .for_watches p{
        text-align: center;
        font-size: 15px;
    }
}
/*responsiveness for mobile screen*/
@media(max-width:400px){
    nav{
        height: 60px;
    }
    input{
        height: 25px;
        width: 170px;
        
    }
    #khan{
        height: 50px;
        width: 60px;
    }
    #search{
        background-color: transparent;
        color: #000;
        margin-left:-28px;
        padding-top: 2px;
    }
    .cart{
        padding: 0 15px;
        width: 15px;
        height: 15px;


    }
    .cart i{
        padding-left: 4px;
    }
    
    .home{
        margin: 20px 0;
    }
    .category{
        padding: 5px;
        height: 90px;
    }
    .category h2{
        font-size: 7px;
        padding: 2px;
        margin-top: 2px;
    }
    .category li{
        padding: 2px 0;
        font-size: 1vh;

    }
    .laptop{
        background-image:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(/images/bgi1.avif);
        background-size: cover;
       
    }
    .laptop h2{
        font-size: 10px;
    }
    .laptop{
        width: 40%;
    }
    #heading{
        margin-top: 30px;
        margin-bottom: 0;
        padding:0 20px;
        font-size: 2.5vh;

    }
    .mobiles{
        grid-template-columns:50% 50%;
        justify-content: space-around;
        
    }
   #mobile_heading{
    margin-top: 30px;
    margin-bottom: 0;
    padding:20px 20px;
    font-size: 2.5vh;
   }
   .for_mobiles{
    display: grid;
    grid-template-columns: 80%;
    justify-content: space-around;

   }
   .for_mobiles .notify{
    width: 80px;
    height: 20px;
   }
   .for_mobiles .notify p{
    padding-top: 3px;
    font-size: 2vh;
   }
   .for_mobiles h4{
    font-size: 2vh;
    padding-top: 3px;
    padding-bottom: 10px;

   }
   #watch_heading{
    margin-top: 30px;
    margin-bottom: 0;
    padding:20px 20px;
    font-size: 2.5vh;
   }
   .for_watches{
    display: grid;
    grid-template-columns: 80%;
    justify-content: space-around;

   }
   .for_watches div{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 250px;
    margin-bottom: 10px;
    padding: 0 10px;
   }
   .for_watches div img{
    width: 150px;
    height: 150px;

   }
   .for_watches p{
    font-size: 2vh;
   }
}


