*{
    margin: 0%;
    padding: 0%;

}
body{
    background-color: #507089;
}
nav{
    height: 100%;
    width: 100%;
    background-color: #487ca4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
#khan{
    height: 80px;
    width: 120px;
}
.input{
    display: flex;
}
input{
    width: 450px;
    height: 40px;

}
#search{
    background-color: #d7db9d;
    color: #fff;
    padding: 9px;
    margin-left: -30px;

}
.cart{
    display: flex;
    padding: 0px 90px;
    width: 30px;
    height: 30px;

}
.cart i{
 padding: 10px 50px 0px 0px;
   
}

