*{
    margin: 0%;
    padding: 0%;

}
body{
    background-color: #507089;
}
nav{
    height: 100%;
    width: 100%;
    background-color: #487ca4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
#khan{
    height: 80px;
    width: 120px;
}
.input{
    display: flex;
}
input{
    width: 450px;
    height: 40px;

}
#search{
    background-color: #d7db9d;
    color: #fff;
    padding: 9px;
    margin-left: -32px;

}
.cart{
    display: flex;
    padding: 0px 90px;
    width: 30px;
    height: 30px;

}
.cart i{
 padding: 10px 50px 0px 0px;
   
}
/* responsivenese for smal screens */

@media(max-width:100px){
    nav{
        height: 80px;
       

    }
    input{
        height: 30px;
        width: 250px;
        
    }
    #khan{
        height: 100px;
        width: 100px;
    }
    #search{
        margin-left: -22px;
        padding: 7px;
    }
    .cart{
        padding: 0 20px;
        width: 20px;
        height: 20px;

    }
    .cart i{
        padding-left: 7px;
    }
}

/*responsiveness for Desktop or large screens*/
@media(max-width:400px){
    nav{
        height: 60px;
    }
    input{
        height: 25px;
        width: 170px;
        
    }
    #khan{
        height: 50px;
        width: 60px;
    }
    #search{
        background-color: transparent;
        color: #000;
        margin-left:-28px;
        padding-top: 2px;
    }
    .cart{
        padding: 0 15px;
        width: 15px;
        height: 15px;


    }
    .cart i{
        padding-left: 4px;
    }

}

